version: '3.8'

networks:
  networth:

volumes:
  keycloak_data:
  kafka_data:
  redis-data:
    driver: local

services:

  eurekaserver:
    image: networth/eurekaserver:0.0.1-SNAPSHOT
    ports:
      - "8761:8761"
    networks:
      - networth
    healthcheck:
      test: "curl --fail --silent localhost:8761/q/health/ready | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 10s
    depends_on:
      - configserver
    deploy:
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s
    environment:
      QUARKUS_PROFILE: default
      QUARKUS_APPLICATION_NAME: eurekaserver

  gatewayserver:
    image: networth/gatewayserver:0.0.1-SNAPSHOT
    ports:
      - "8080:8080"
    networks:
      - networth
    expose:
      - "8080"
    depends_on:
      - eurekaserver
      - configserver
    healthcheck:
      test: "curl --fail --silent localhost:8080/q/health/ready | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 10s
    deploy:
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s
    environment:
      QUARKUS_PROFILE: docker
      QUARKUS_APPLICATION_NAME: gatewayserver
      USER_SERVICE_URL: http://user-service:8081
      ACCOUNT_SERVICE_URL: http://account-service:8082
      TRUELAYER_SERVICE_URL: http://truelayer-service:8084

  configserver:
    image: networth/configserver:0.0.1-SNAPSHOT
    ports:
      - "8071:8071"
    networks:
      - networth
    healthcheck:
      test: "curl --fail --silent localhost:8071/q/health/ready | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 10s
  kafka:
    image: docker.io/bitnami/kafka:3.5
    ports:
      - "9092:9092"
    volumes:
      - "kafka_data:/bitnami"
    environment:
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    networks:
      - networth

  keycloak:
    image: quay.io/keycloak/keycloak:22.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_db/keycloakdb
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: admin
      KC_LOG_LEVEL: DEBUG
    ports:
      - "7080:8080"
    depends_on:
      - keycloak_db
    networks:
      - networth
    command:
      - start-dev --import-realm
    volumes:
      - ./helm/tools/keycloak/realm/realm-export.json:/opt/keycloak/data/import/realm-export.json

  keycloak_db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: keycloakdb
      POSTGRES_LOG_LEVEL: debug
    ports:
      - "5432:5432"
    networks:
      - networth
    volumes:
      - keycloak_data:/var/lib/postgresql/data

  redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      - networth
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      timeout: 10s
      retries: 10
